@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Body */

 body {
  background-color: #d8d9dd ;
  background-size:auto
}

/* Barre de navigation */

nav li a
{
  justify-content: space-around;
  text-align: center;
  padding: 16px 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

nav li a:hover
{
  background-color: #e0e0e000;
  transition: 0.3s;
	color: #24CE91;
}

.team-boxed {
    color:#535353;
    background-color:#d8d9dd;
  }
  
  .team-boxed p {
    color:#535353;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:#2f2f41;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
      color:#2f2f41;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
    color:#2f2f41;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  

  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:#2f2f41;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#535353;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }

  .team-boxed .item .ferwi {
    text-align:center;
    padding:30px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url("./img/wave_ferwi.svg");
    margin-bottom:30px;
    border-radius: 5%;
  }

  .team-boxed .item .gen {
    text-align:center;
    padding:30px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url("./img/wave_gen.svg");
    margin-bottom:30px;
    border-radius: 5%;
  }

  
  .team-boxed .item .graven {
    text-align:center;
    padding:30px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url("./img/wave_graven.svg");
    margin-bottom:30px;
    border-radius: 5%;
  }